.hero {
	@include section(118px, 118px);

	max-width: 480px;
	margin: 0 auto;
	background-color: var(--dark-bg-color);
	text-align: center;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../images/hero/hero_mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.box {
			background-image: url("../images/hero/hero_mobile@2x.jpg");
		}
	}
	@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
		.box {
			background-image: url("../images/hero/hero_mobile@3x.jpg");
		}
	}

	@media (min-width: 768px) {
		max-width: 768px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero_tablet.jpg");
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			.box {
				background-image: url("../images/hero/hero_tablet@2x.jpg");
			}
		}
		@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
			.box {
				background-image: url("../images/hero/hero_tablet@3x.jpg");
			}
		}
	}
	@media (min-width: 1200px) {
		max-width: 1600px;
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/hero/hero_bg.jpg");
		@include section(200px, 200px);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			.box {
				background-image: url("../images/hero/hero_bg@2x.jpg");
			}
		}
		@media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
			.box {
				background-image: url("../images/hero/hero_bg@3x.jpg");
			}
		}
	}
}

.hero__title {
	margin-bottom: 30px;

	@include fonts($fw: 900, $fs: 26px, $lh: 1.62, $lsp: 0.06em, $color: var(--white-color));

	text-transform: uppercase;

	@media (min-width: 1200px) {
		@include fonts($fw: 900, $fs: 44px, $lh: 1.36, $lsp: 0.06em, $color: var(--white-color));
	}
}
